<div class="searchBar">
    <div class="container">
        <form action="/search" class="search__form" role = "search" method = "form"></form>
        <input type="search"
        placeholder="Search the Site..."
        id="searchInput"
        
        >
    </div>
</div>